lnzapboard.mistic.xyz, zapit.space {
    header {
       Content-Security-Policy "frame-ancestors *"
       # X-Frame-Options "ALLOW-FROM https://www.example.com/"

       # Disable modern anti-embedding protections
       Cross-Origin-Opener-Policy "unsafe-none"
       Cross-Origin-Embedder-Policy "unsafe-none"
       Cross-Origin-Resource-Policy "cross-origin"

       # CORS headers
       Access-Control-Allow-Origin "*"
       Access-Control-Allow-Methods "GET, POST, OPTIONS"
       Access-Control-Allow-Headers "*"
   }

  # Handle OPTIONS requests (preflight)
    @options {
        method OPTIONS
    }
    respond @options 204

    root * /srv
    file_server
    try_files {path} /index.html
    encode gzip
}

planka.mistic.xyz {
    reverse_proxy planka-planka-1:1337
}

pekka.mistic.xyz {
    handle /install {
        root * /var/www/pekka
        rewrite * /install.sh
        file_server
    }
}

glassabbey.mistic.xyz {
    handle /auction-ws {
        reverse_proxy auction-server:8080
    }
    handle {
        root * /srv/glassabbey
        try_files {path} /index.html
        file_server
    }
}
